<ion-header [translucent]="true">
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="medium">HOME</ion-title>
      <ion-buttons slot="end">
         <ion-button (click)="openModal()">
            <ion-icon name="funnel-outline"></ion-icon>
         </ion-button>
         <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
         </ion-button>
      </ion-buttons>
   </ion-toolbar>
   <ion-toolbar id="search">
      <form [formGroup]="searchBar" (ngSubmit)="onSubmit()">
         <ion-searchbar formControlName="search" placeholder="Search drinks"></ion-searchbar>
      </form>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <app-list [drinks$]="drinks$"></app-list>
</ion-content>
